<!-- show profile information here -->
<h1><%= @profile.name %></h1>
<h3><%= @profile.bio %></h3>
<% if current_user.id != @profile.user_id %>
	<% if @follow %>
		<%= button_to "Unfollow", unfollow_user_profile_path(@profile.user, @profile), method: :delete %>
	<% else %>
		<%= button_to "Follow", follow_user_profile_path(@profile.user, @profile), method: :post %>
	<% end %>
<% end %>

<% @posts.each do |post| %>
	<%= render partial: post %>
<% end %>

