<%= turbo_frame_tag dom_id(post) do %>
	<h2>
		<%= link_to post.author.profile.name, user_profile_path(post.author, post.author.profile), data: { turbo_frame: '_top' } %>
	</h2>
	<p><%= post.content %></p>
	<div style="display: flex; justify-content: flex-start; width: auto">
		<div>
			<% if post.liked_by?(@current_user) %>
				<%= button_to "Unlike (#{post.likes_count})", post_like_path(post, post.likes.find_by(user: current_user, post: post)), method: 'delete' %>
			<% elsif !post.liked_by?(@current_user) %>
				Post is not liked by user
				<%= button_to "Like (#{post.likes_count})", post_likes_path(post), method: 'post' %>
			<% end %>
			<%= button_to "Comment", post_path(post), method: 'get', data: { turbo_frame: '_top' } %>
		</div>

	</div>
<% end %>
